.CardContainer{
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 5%;

}

.ContainerTimeCard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap : 3%;
  justify-content: center;
}

@media (max-width: 425px) {
    .CardContainer{
      flex-direction: column;
      width: 100vw;
    }
    .ContainerTimeCard{
      margin-top: 5%;
      grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .CardContainer{
      width: 100vw;
      flex-direction: column;
    }
    .ContainerTimeCard{
      margin-top: 5%;
      grid-template-columns: repeat(2, 1fr);
    }
}